name: dart_test_tools
description: Additional tools and helpers for writing dart unit tests and GitHub Actions Workflows.
version: 6.2.3+1
homepage: https://github.com/Skycoder42/dart_test_tools

environment:
  sdk: ^3.10.0

executables:
  generate-build-number: generate_build_number
  generate-pkgbuild: generate_pkgbuild
  cider:
  flatpak-repo-init: flatpak_repo_init
  export-xml-changelog: export_xml_changelog
  generate-cask: generate_cask
  auto-update: auto_update

dependencies:
  analyzer: '>=8.1.1 <10.0.0'
  args: ^2.7.0
  build: ^4.0.2
  build_config: ^1.2.0
  change: ^0.7.5
  checked_yaml: ^2.0.4
  cider: ^0.2.8
  code_builder: ^4.11.0
  collection: ^1.19.1
  crypto: ^3.0.7
  custom_lint_builder: ^0.8.1
  dotenv: ^4.2.0
  freezed_annotation: ^3.1.0
  json_annotation: ^4.9.0
  lint: ^2.8.0
  logging: ^1.3.0
  markdown: ^7.3.0
  meta: ^1.17.0
  mocktail: ^1.0.4
  path: ^1.9.1
  pub_semver: ^2.2.0
  pubspec_parse: ^1.5.0
  stack_trace: ^1.12.1
  stream_channel: ^2.1.4
  synchronized: ^3.4.0
  test: ^1.26.3
  xml: ^6.6.1
  yaml: ^3.1.3
  yaml_edit: ^2.2.2
  yaml_writer: ^2.1.0

dev_dependencies:
  build_runner: ^2.10.3
  flutter_lints: ^6.0.0
  freezed: ^3.2.3
  html: ^0.15.6
  http: ^1.6.0
  json_serializable: ^6.11.1
  lints: ^6.0.0

cider:
  link_template:
    tag: https://github.com/Skycoder42/dart_test_tools/releases/tag/v%tag% # initial release link template
    diff: https://github.com/Skycoder42/dart_test_tools/compare/v%from%...v%to% # subsequent releases link template

dart_pre_commit:
  pull-up-dependencies:
    allowed:
      - analyzer
      - collection
      - meta
      - path
      - stack_trace
      - stream_channel
      - test
      - xml
