on:
  workflow_call:
    inputs:
      flatpakPlatformImage:
        type: string
        required: false
        default: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
        description: The docker image to be used to build the bundle with
      dartSdkVersion:
        type: string
        required: false
        default: stable
        description: The Dart-SDK version. Passed as "sdk" to "dart-lang/setup-dart".
      flatpakSdkVersion:
        type: string
        required: false
        default: "24.08"
        description: The version of the freedesktop sdk and runtime being used.
      buildNumberArgs:
        type: string
        required: false
        default: ""
        description: Additional args for the build number generator.
      workingDirectory:
        type: string
        required: false
        default: .
        description: The root directory of the dart package to build and test.
      bundleName:
        type: string
        required: true
        description: The output flatpak bundle name.
      manifestPath:
        type: string
        required: true
        description: The path to the flatpak manifest to be built.
    secrets:
      gpgKeyId:
        required: true
        description: The id of the gpgKey
      gpgKey:
        required: true
        description: The GPG key to sign the flatpak bundle and repository with.
jobs:
  build_linux:
    name: Build linux flatpak bundle
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x86_64
          - aarch64
        include:
          - arch: x86_64
            runs-on: ubuntu-latest
            yqArch: amd64
          - arch: aarch64
            runs-on: ubuntu-24.04-arm
            yqArch: arm64
    runs-on: ${{ matrix.runs-on }}
    container:
      image: ${{ inputs.flatpakPlatformImage }}
      options: --privileged
    steps:
      - name: Install Dart-SDK (${{ inputs.dartSdkVersion }})
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ inputs.dartSdkVersion }}
      - name: Install tools
        uses: Skycoder42/dart_test_tools/.github/actions/install-tools@main
        with:
          withDartTestTools: "true"
      - name: Manually install yq
        run: |
          set -eo pipefail
          curl -sSLo /usr/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_${{ matrix.yqArch }}
          chmod +x /usr/bin/yq
      - name: Download flatpak flutter SDK
        run: curl --fail-with-body -L -o /tmp/flutter.flatpak 'https://github.com/Skycoder42/dart_test_tools/releases/download/flatpak-flutter-extension%2F${{ inputs.flatpakSdkVersion }}/org.freedesktop.Sdk.Extension.flutter_${{ inputs.flatpakSdkVersion }}_${{ matrix.arch }}.flatpak'
      - name: Install flatpak flutter SDK
        run: flatpak install --system -y --noninteractive /tmp/flutter.flatpak
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - id: generateBuildNumber
        name: Generate build number
        run: dart pub global run dart_test_tools:generate_build_number ${{ inputs.buildNumberArgs }} --env
        working-directory: ${{ inputs.workingDirectory }}
      - name: Prepare flatpak repo
        run: |
          set -eo pipefail
          ostree init --repo=repo --mode=archive
          ostree --repo=repo config set core.min-free-space-size "1MB"
      - name: Import GPG key
        run: echo '${{ secrets.gpgKey }}' | gpg --import
      - name: Build flatpak bundle
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: ${{ inputs.bundleName }}
          manifest-path: ${{ inputs.workingDirectory }}/${{ inputs.manifestPath }}
          branch: ${{ github.ref_name }}
          arch: ${{ matrix.arch }}
          gpg-sign: ${{ secrets.gpgKeyId }}
          cache: false
          upload-artifact: false
      - name: Delete GPG key
        if: always()
        continue-on-error: true
        run: gpg --batch --yes --delete-secret-keys '${{ secrets.gpgKeyId }}'
      - name: Upload bundle artifact
        uses: actions/upload-artifact@v5
        with:
          name: flatpak-bundle-${{ matrix.arch }}
          path: ${{ inputs.bundleName }}
          compression-level: 0
          if-no-files-found: error
          retention-days: 1
